
body {
    background-color: #040404;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #151515;
    text-align: center;
    padding: 50px 0;
}

.banner h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    margin-bottom:-40px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner p {
    font-size: 18px;
    margin: 10px 0 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    animation: fadeIn 1s;
}

p {
    text-align: justify;
}
.skills-container {
    background-color: #151515;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.skill{
    max-width: 150px;
    margin: 40px 20px 40px 20px;
}
